{% import 'macro/svg.html' as SVG %}
{% import 'macro/oops.html' as OOPS %}
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">
          已完成下载 (总上传：<span id="total_upspeed">0KB/s</span>)
        </h2>
      </div>
    </div>
  </div>
</div>
{% if DownloadCount > 0 %}
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-lg-2 d-none d-sm-block">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">筛选</h5>
            <div class="d-md-block" id="search_results_filter_123">
              <!-- 过滤条件 -->
              {% if FilterIndexerName %}
              <div class="subheader mb-2 mt-2">平台</div>
              <div class="form-selectgroup form-selectgroup-pills">
                {% for IndexerName in FilterIndexerName %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="filter_indexer_name" value="{{ IndexerName }}"
                    class="form-selectgroup-input" onclick="filter_torrents(this)">
                  <span class="form-selectgroup-label">{{ IndexerName }}</span>
                </label>
                {% endfor %}
              </div>
              {% endif %}
              {% if FilterCategory %}
              <div class="subheader mb-2 mt-2">分类</div>
              <div class="form-selectgroup form-selectgroup-pills">
                {% for Category in FilterCategory %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="filter_category" value="{{ Category }}" class="form-selectgroup-input"
                    onclick="filter_torrents(this)">
                  <span class="form-selectgroup-label">{{ Category }}</span>
                </label>
                {% endfor %}
              </div>
              {% endif %}
              {% if FilterTags %}
              <div class="subheader mb-2 mt-2">标签</div>
              <div class="form-selectgroup form-selectgroup-pills">
                {% for Tag in FilterTags %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="filter_tags" value="{{ Tag }}" class="form-selectgroup-input"
                    onclick="filter_torrents(this)">
                  <span class="form-selectgroup-label">{{ Tag }}</span>
                </label>
                {% endfor %}
              </div>
              {% endif %}
              {% if FilterState %}
              <div class="subheader mb-2 mt-2">状态</div>
              <div class="form-selectgroup form-selectgroup-pills">
                {% for State in FilterState %}
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="filter_state" value="{{ State }}" class="form-selectgroup-input"
                    onclick="filter_torrents(this)">
                  <span class="form-selectgroup-label">{{ State }}</span>
                </label>
                {% endfor %}
              </div>
              {% endif %}
              <div class="mt-5">
                <button class="btn w-100" onclick="reset_filter()">
                  重置
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="card">
          <div class="table-responsive min-vh-100">
            <table id="table-downloaded" class="table table-vcenter card-table fs-5">
              <thead>
                <tr>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-name">名称</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-indexer_name">平台</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-total_size">大小</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-state">状态</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-seeds">种子</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-leechs">用户</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-dlspeed">下载速度</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-upspeed">上传速度</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-ratio">做种比率</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-category">分类</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-tags">标签</button></th>
                  <th class="text-nowrap"><button class="table-sort" data-sort="sort-added_on">添加时间</button></th>
                  <th class="text-nowrap">操作</th>
                </tr>
              </thead>
              <tbody class="table-tbody">
                {% for Torrent in Torrents %}
                <tr>
                  <td class="sort-name text-nowrap" style="width:350px">
                    <div class="text-truncate overflow-hidden" style="width: 300px">{{ Torrent.name }}</div>
                  </td>
                  <td class="text-muted sort-indexer_name text-nowrap">
                    {{ Torrent.indexer_name}}
                  </td>
                  <td class="text-muted sort-total_size text-nowrap"
                    data-total_size="{{ Torrent.total_size_unconvert }}">
                    {{ Torrent.total_size}}
                  </td>
                  <td class="text-muted sort-state text-nowrap" id="state_{{ Torrent.hash }}">
                    {{ Torrent.state}}
                  </td>
                  <td class="text-muted sort-seeds text-nowrap" data-seeds="{{ Torrent.num_seeds }}"
                    id="seeds_{{ Torrent.hash }}">
                    {{ Torrent.num_seeds }} ({{ Torrent.num_complete }})
                  </td>
                  <td class="text-muted sort-leechs text-nowrap" data-leechs="{{ Torrent.num_leechs }}"
                    id="leechs_{{ Torrent.hash }}">
                    {{ Torrent.num_leechs }} ({{ Torrent.num_incomplete }})
                  </td>
                  <td class="text-muted sort-dlspeed text-nowrap" data-dlspeed="{{ Torrent.dlspeed_unconvert }}"
                    id="dlspeed_{{ Torrent.hash }}">
                    {{ Torrent.dlspeed }}/s
                  </td>
                  <td class="text-muted sort-upspeed text-nowrap" data-upspeed="{{ Torrent.upspeed_unconvert }}"
                    id="upspeed_{{ Torrent.hash }}">
                    {{ Torrent.upspeed }}/s
                  </td>
                  <td class="text-muted sort-ratio text-nowrap" id="ratio_{{ Torrent.hash }}">
                    {{ Torrent.ratio }}
                  </td>
                  <td class="text-muted sort-category text-nowrap">
                    {{ Torrent.category }}
                  </td>
                  <td class="text-muted sort-tags text-nowrap">
                    {{ Torrent.tags }}
                  </td>
                  <td class="sort-added_on text-nowrap">
                    {{ Torrent.added_on }}
                  </td>
                  <td class="text-nowrap">
                    <div class="dropdown">
                      <a href="#" class="btn-action" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ SVG.dots_vertical() }}
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        {% if Client != 'client115' %}
                        <a href="javascript:start_pt_download('{{ Torrent.hash }}')" id="start_btn_{{ Torrent.hash }}"
                          class="dropdown-item" style="{% if Torrent.state == '做种' %}display:none{% endif %}">开始</a>
                        <a href="javascript:stop_pt_download('{{ Torrent.hash }}')" id="stop_btn_{{ Torrent.hash }}"
                          class="dropdown-item" style="{% if Torrent.state == '暂停' %}display:none{% endif %}">暂停</a>
                        {% endif %}
                        <a href="javascript:remove_pt_download('{{ Torrent.hash }}')" class="dropdown-item text-danger">删除</a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
{{ OOPS.nodatafound('没有已完成下载任务', '当前下载器中没有已完成下载的任务。') }}
{% endif %}
<script type="text/javascript">
  function remove_pt_download(id) {
    ajax_post("pt_remove", { "id": id }, function (ret) {
      setTimeout("window_history_refresh()", 2000);
    });
  }
  
  function start_pt_download(id) {
    ajax_post("pt_start", { "id": id }, function (ret) {
      setTimeout("window_history_refresh()", 2000);
    });
  }

  function stop_pt_download(id) {
    ajax_post("pt_stop", { "id": id }, function (ret) {
      setTimeout("window_history_refresh()", 2000);
    });
  }

  var tableDataList = new List('table-downloaded', {
    sortClass: 'table-sort',
    listClass: 'table-tbody',
    valueNames: ['sort-name', 'sort-indexer_name', { name: 'sort-total_size', attr: 'data-total_size' }, 'sort-state', { name: 'sort-seeds', attr: 'data-seeds' }, { name: 'sort-leechs', attr: 'data-leechs' }, { name: 'sort-dlspeed', attr: 'data-dlspeed' }, { name: 'sort-upspeed', attr: 'data-upspeed' }, 'sort-ratio', 'sort-category', 'sort-tags', 'sort-added_on']
  });

  var tmp_html = $("#table-downloaded > tbody").html()

  function reset_filter() {
    $("#table-downloaded > tbody").html(tmp_html);
    tableDataList.reIndex();
    select_SelectALL(false, "filter_indexer_name");
    select_SelectALL(false, "filter_state");
    select_SelectALL(false, "filter_category");
    select_SelectALL(false, "filter_tags");
  }

  function filter_torrents(obj) {
    $("#table-downloaded > tbody").html(tmp_html);
    tableDataList.reIndex();
    // 按钮状态
    let btn_obj = $(obj);
    let status = btn_obj.prop("checked");
    // 当前项未选中则选中,已选中则取消选中
    select_SelectALL(false, btn_obj.attr("name"));
    btn_obj.prop("checked", status);

    // 开始过滤
    let filter_indexer_name = $("input[name='filter_indexer_name']:checked").val();
    let filter_state = $("input[name='filter_state']:checked").val();
    let filter_category = $("input[name='filter_category']:checked").val();
    let filter_tags = $("input[name='filter_tags']:checked").val();

    tableDataList.filter(function (item) {
      if (filter_indexer_name) {
        if (item.values()['sort-indexer_name'].replace(/^\s+|\s+$/g, "").replace(/[\r\n]/g, "") != filter_indexer_name) {
          return false;
        }
      }
      if (filter_state) {
        if (item.values()['sort-state'].replace(/^\s+|\s+$/g, "").replace(/[\r\n]/g, "") != filter_state) {
          return false;
        }
      }
      if (filter_category) {
        if (item.values()['sort-category'].replace(/^\s+|\s+$/g, "").replace(/[\r\n]/g, "").split(", ").indexOf(filter_category) == -1) {
          return false;
        }
      }
      if (filter_tags) {
        if (item.values()['sort-tags'].replace(/^\s+|\s+$/g, "").replace(/[\r\n]/g, "").split(", ").indexOf(filter_tags) == -1) {
          return false;
        }
      }
      return true;
    });
  }

  //更新所有种子页面信息
  function get_all_torrents_info() {
    ajax_post("all_pt_info", {}, function (ret) {
      if (ret.retcode == "0") {
        for (let torrent of ret.torrents) {
          update_torrent_ui(torrent);
        }

        tableDataList.reIndex()

        let sort_desc = $(".table-sort.desc").attr('data-sort')
        let sort_asc = $(".table-sort.asc").attr('data-sort')

        if (sort_desc) {
          tableDataList.sort(sort_desc, { order: "desc" })
        } else if (sort_asc) {
          tableDataList.sort(sort_asc, { order: "asc" })
        }

        $("#total_upspeed").html(ret.total_upspeed + "/s");
        setTimeout("get_all_torrents_info()", 2000);
      }
    }, true, false);
  }

  //更新单个种子的页面信息
  function update_torrent_ui(info) {
    var hash = info.hash;
    var state = info.state;
    var seeds = info.num_seeds + " (" + info.num_complete + ")";
    var leechs = info.num_leechs + " (" + info.num_incomplete + ")";
    var dlspeed = info.dlspeed + "/s";
    var upspeed = info.upspeed + "/s";
    var ratio = info.ratio;
    $("#state_" + hash).html(state);
    $("#seeds_" + hash).html(seeds);
    $("#seed_" + hash).attr("data-seeds", info.num_seeds)
    $("#leechs_" + hash).html(leechs);
    $("#leech_" + hash).attr("data-leechs", info.num_leechs)
    $("#dlspeed_" + hash).html(dlspeed);
    $("#dlspeed_" + hash).attr("data-dlspeed", info.dlspeed_unconvert)
    $("#upspeed_" + hash).html(upspeed);
    $("#upspeed_" + hash).attr("data-upspeed", info.upspeed_unconvert);
    $("#ratio_" + hash).html(ratio);
  }

  //事件
  setTimeout("get_all_torrents_info()", 2000);

</script>
<style>
  /*
  * 修复列表排序按钮样式
  */
  .table-sort {
    width: auto;
  }
</style>